body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #53fcfc;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
} 

header p {
    margin: 5px 0 0;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #53fcfc;
 .project {
     margin-bottom: 20px;
 }

.porject h3 {
    margin: 0 0 10px;
    color: #333;
}
ul {
  list-style-type: square;
  padding-left: 20px;
}
footer { 
  text-align: center;
  padding: 10px 0;
  background: #333;
  color: white;
  margin-top: 20px;
}
footer a {
  color :#f0a1d7
